body{
	margin: 0;
	padding: 0;
	backgrouund: url(Prakash.jpg) no-repeat;
	background-size: cover;
}
.box{
	width: 450px
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: Center;
	margin: auto;
	margin-top: 5%;
	color: blue;
	font-family: 'Century Gothic' ,sans-serif;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size:40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size:25px;
	letter-spacing:3px;
	font-weight: 100;

}
.wrapper {
    background-image: url(C:\Users\prakk\Documents\GitHub\prakashvijayan.github.io\Himalayan.jpg)  no-repeat scroll;
    background-size: 100%;
    background-position: top;
    width: 100%;
    height: 100%;
    min-width: 950px;
}