body{
	margin: 0;
	padding: 0;
	background-size: cover;
}
.box{
	width: 450px
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: Center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic' ,sans-serif;
}